<% const collaborators = collaborator.getCollaboratorsFor(currentWiki.id); %>


<% if(collaborators){ %>
  <ul class="list-group">
  <% collaborators.forEach(collaborator => {  %>
    <li class="list-group-item">
      <%= collaborator.User.name %>
      
      <% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")) { %>
        <form action="/wikis/<%= wiki.id %>/collaborators/destroy" method="post">
          <button type="submit" class="btn btn-danger">Remove</button>
          <input type="hidden" value="<%= collaborator.User.id %>" class="form-control" name="collaborator">
        </form>
      <% } %>
    </li>
  <% }) %>
  </ul>
<% } %>

<% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")){ %>
  <form action="/wikis/<%= wiki.id %>/collaborators/add" method="post">
    <div class="input-group">
      <input type="text" class="form-control" name="collaborator" placeholder="Enter email for additional collaborator">
      <button type="submit" class="btn btn-primary">Add collaborator</button>
    </div>
  </form>
<% } %>