<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

     <% include ../static/partials/messages.ejs %>

      <h1>Edit Wiki</h1>

      <form action="/wikis/<%= wiki.id %>/update" method="post">
        <div class="form-group">
          <label for="title">Wiki title</label>
          <input value="<%= wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="description">Body</label>
          <textarea rows="4" class="form-control" name="body" placeholder="Enter Body"><%= wiki.body %></textarea>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="private" value="false">
          <label class="form-check-label" for="private">Public</label>
        </div>
        <% if(currentUser.role === "premium" || currentUser.role === "admin"){ %>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="private" value="true">
            <label class="form-check-label" for="private">Private</label>
          </div>
        <% }else{ %>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="private" value="true" disabled>
            <label class="form-check-label" for="private">Private</label>
          </div>
        <% } %>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>

      <br>
     
      <% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")){ %>
        <form action="/wikis/<%= wiki.id %>/collaborator/add" method="post">
          <div class="input-group">
            <input type="text" class="form-control" name="collaborator" placeholder="Enter email for additional collaborator">
            <button type="submit" class="btn btn-primary">Add collaborator</button>
          </div>
        </form>
      <% } %>

     

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>