<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <% include ../static/partials/messages.ejs %>

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4 text-center">
          <h1 class="display-3">Welcome to Blocipedia</h1>
          <p class="lead">An application for users to share information.</p>
          <% if(currentUser) { %>
            <a href="/wikis" class="btn btn-info btn-lg">Browse Wikis</a>
            <a href="/users/<%= currentUser.id %>" class="btn btn-primary btn-lg">Profile</a>
            <% } else { %>
              <a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
              <a href="/users/signin" class="btn btn-success btn-lg">Login</a>
              <a href="/wikis" class="btn btn-info btn-lg">Browse Wikis</a>
            <% } %>
        </header>

        <!-- Page Features -->
        <section class="row text-center landingInfo">

          <section class="col-lg-12">
            <h4 class="card-title">Unlock Your Mind</h4>
            <p class="card-text">Just be careful what you read online.</p>
          </section>

        </section>

        <br>

        <img src="/img/bookcase-books-bookshelf-1166657.jpg" class="img-fluid landingImg" alt="image">
        
      </main>
     
      <% include ./partials/baseScripts.ejs %>
    </body>
</html>